#racetrack-wrapper {
	width: 100%;
	overflow: scroll;
}

.board {
	display: inline-flex;
	grid-template-columns: repeat(auto-fit, 120px);
	margin: 20px 0;
}

.cell {
	width: 120px;
	height: 120px;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 3px;
	margin: 3px;
	position: relative;
}

.cell-extra {
	background-color: rgba(255, 255, 255, 0.2);
}

.cell-content {
	position: absolute;
	bottom: 0;
}

$token-colors: blue, green, orange, yellow, white, purple;

.token {
		width: 80px;
		height: 30px;
		border-radius: 5px;
		margin: 5px;
		text-align: center;
}

@for $i from 0 through length($token-colors) - 1 {
	.tokencolor-#{$i} {
		background: nth($token-colors, $i+1);
		$x: nth($token-colors, $i+1);
		@if 0.2126*red($x) + 0.7152*green($x) + 0.0722*blue($x) > 96% {
			color: black;
		}
		@else {
			color: white;
		}
	}
}

.players {
	width: 300px;
}

.flex {
	display: flex;
}

.card {
	padding: 0 0.5rem;
	border-radius: 0.25rem;
	margin: 0 0.1rem;
}

.betzone {
	height: 100px;
	width: 100px;
	background: rgba(255, 255, 255, 0.3);
	margin: 1rem;
	padding: 1rem;
	border-radius: 0.5rem;
	color: white;
}

.tape {
	background: red;
}

.cucumber {
	background: green;
}

.control {
	margin: 20px;
}

.log-area {
	width: 500px;
	height: 300px;
	overflow-y: scroll;
	color: white;
}