.board {
	display: grid;
	grid-template-columns: repeat(auto-fit, 120px);
	margin: 100px;
}

.cell {
	// width: 80px;
	height: 120px;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 3px;
	margin: 3px;
	position: relative;
}

.cell-content {
	position: absolute;
	bottom: 0;
}

$token-colors: blue, green, orange, yellow, white;

.token {
		width: 80px;
		height: 30px;
		border-radius: 5px;
		margin: 5px;
		text-align: center;
}

@for $i from 1 through length($token-colors) {
	.tokencolor-#{$i} {
		background: nth($token-colors, $i);
	}
}