@import "../global";

$cellwidth: 120px;
$cellheight: 120px;
$cellmargin: 3px;
$tokenwidth: 80px;
$tokenheight: 30px;
$tokenmargin: 5px;

$fade-white: rgba(white, 0.3);

:export {
	cellwidth: $cellwidth;
	cellheight: $cellheight;
	cellmargin: $cellmargin;
	tokenwidth: $tokenwidth;
	tokenheight: $tokenheight;
	tokenmargin: $tokenmargin;
}

$token-colors: blue, green, orange, yellow, white, purple;

#game {

	height: 100vh;
	width: 100vw;
	color: white;
	// grid
	display: grid;
	grid-template-rows: 1fr 150px;
	grid-template-columns: 3fr 300px;

	#board {
		grid-column: 1/3
	}

	.flex {
		display: flex;
	}

	.fullframe {
		height: 100%;
		width: 100%;
	}

	.fill {
		height: fit-content;
		width: fit-content;
	}

	// need to set parent's display to table
	.center-table {
		text-align: center;
		display: table-cell;
		vertical-align: middle;
	}

	.center-margin {
		margin-left: auto;
		margin-right: auto;
	}

	.noselect {
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.actionable {
		@at-root .myturn#{&} {
			cursor: pointer;
		}
	}

	.dice-shape-big {
		border-radius: 10px;
		width: 60px;
		height: 60px;
	}

	.dice-shape-small {
		border-radius: 7px;
		width: 40px;
		height: 40px;
	}

	.center {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}

	.center-both {
		@extend .center;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
	}

	.abs {
		position: absolute;
	}

	.card-shape {
		margin: 10px;
		font-size: 1.5rem;
		width: 100px;
		height: 140px;
		border-radius: 10px;
	}

	.card-shape-small {
		@extend .card-shape;
		height: 50px;
	}

	.card-standard {
		border: solid 5px white;
		background: black;
		box-shadow: 1px 1px 3px rgba(black, 1);
		transition-duration: 0.2s;
	}

	@for $i from 0 through length($token-colors) - 1 {
		.tokencolor-#{$i} {
			background: nth($token-colors, $i+1);
			$x: nth($token-colors, $i+1);
			@if 0.2126*red($x) + 0.7152*green($x) + 0.0722*blue($x) > 96% {
				color: black;
			}
			@else {
				color: white;
			}
		}
	}

	.circle-shape {
		border-radius: 50%;
	}
	.empty-area {
		color: $fade-white;
		border: solid 3px $fade-white;
	}

	.small-stack {
		width: 100px;
		height: 140px;
		margin: 10px;
		position: relative;
		.indicator {
			width: 0;
			height: 0;
			border-radius: 50%;
			background: rgba(white, 0.5);
		}
		&.hovering {
			.indicator {
				width: 200px;
				height: 200px;
				opacity: 0.1;
				transition-duration: 0.5s;
			}
			.empty-area {
				// background: rgba(white, 0.2);
			}
		}
	}

	.log-area {
		width: 500px;
		height: 300px;
		overflow-y: scroll;
		color: white;
	}

	.panel {
		// border: solid 1px white;
		@extend .noselect;
	}

	.motion-path {
		position: absolute;
		// top: 161px;
		// left: 149px;
		svg {
			position: absolute;
		}
	}

	#players {

		display: flex;

		> div {
			margin-top: auto;
			width: 100%;
		}

		.player-card {
			position: relative;
			margin: 20px 0;
			width: 280px;
			height: 130px;
			svg {
				fill: white;
				width: 1em;
			}

			.smallbet-stack {
				position: absolute;
				top: -10px;
				right: 0;

				.betcard {
					position: absolute;
					top: 0;
				}
			}

			.profile-pic {
				position: absolute;
				width: 100px;
				height: 100px;
				border-radius: 20px;
				overflow: hidden;
				box-shadow: 5px 5px 10px rgba(black, 0.2);
			}

			&.current .profile-pic {
				border: solid 3px yellow;
			}

			.player-details {
				color: white;
				background: scale-color($color-2, $lightness: 0%);
				position: absolute;
				top: 20px;
				left: 20px;
				height: 110px;
				padding: 5px;
				padding-left: 100px;
				border-bottom-left-radius: 20px;
			}

			.bet-grid {
				display: grid;
				grid-template-columns: repeat(auto-fill, 20px);
			}
		}

		.modcard,
		.betcard {
			padding: 0 0.5rem;
			border-radius: 0.25rem;
			margin: 0 0.1rem;
		}

		.modcard {
			background: grey;
		}

	}

	#board {
		width: 100%;
		overflow-x: scroll;
		overflow-y: visible;
		position: relative;
		
		.cell-container {
			display: inline-flex;
		}
		.cell {
			width: $cellwidth;
			height: $cellheight;
			background-color: rgba($color-3, 0.5); //rgba(255, 255, 255, 0.8);
			border-radius: 3px;
			margin: $cellmargin;
			position: relative;
			.cell-content {
				position: absolute;
				bottom: 0;
			}
		}
		.cell-extra {
			background-color: rgba(255, 255, 255, 0.2);
		}

		.cell-mod {
			margin: 5px;
		}
		.tape {
			background: red;
		}
		.cucumber {
			background: green;
		}

		.cat {
			position: absolute;
			width: $tokenwidth;
			height: $tokenheight;
			border-radius: 5px;
			margin: 0;
			text-align: center;
			transition-duration: 0.1s;
		}

	}

	#main {
		position: relative;

		#betarea {
			width: 400px;
			display: flex;
			position: absolute;
			top: 340px;
			left: 50%;
			transform: translateX(-50%);
			z-index: 50;
		}

		.di-table {
			display: table;
		}
		.betzone-win {
			margin-left: auto;
		}

		#dice-wrapper {
			top: 250px;
			#main-dice {
				position: relative;
				z-index: 100;
				color: $fade-white;
				transition-duration: 0.1s;
				@extend .dice-shape-big;
				&.active {
					&:hover {
						transform: scale(1.2);
					}
					.empty-area {
						height: 60px;
						border-color: white;
						color: white;
					}
				}
			}	
		}
		
	}

	#camp {
		// display: flex;
		position: relative;
		width: 100%;
		top: 20px;
		.tent {
			width: fit-content;
			position: absolute;
			left: 50%;
			transform-origin: 50% 300%;
			.tentstack .card-wrapper {
				transition-duration: 0.1s;
				@at-root .myturn#{&} {
					&:hover {
						transform: translateY(-10px) scale(1.05);
						.card-standard {
							box-shadow: 5px 5px 10px rgba(black, 0.5);
						}
					}
				}
			}
		}
	}

}