@import "../node_modules/bootstrap/scss/bootstrap";
@import 'game/Game';

// http://paletton.com/#uid=70j0u0kdXo45iA+9usMhTk2mtgd
$color-1: #4B637D;
$color-2: #C09E6C;
$color-3: #48806D;
$color-4: #C0886C;

body {
	background: darken($color-1, 10%);
	padding: 1rem;
}

$lobby-width: 500px;
$lobby-height: 300px;

.lobby {
	// position
	position: absolute;
	width: $lobby-width;
	height: $lobby-height;
	left: 50%;
	top: 40%;
	margin-left: -$lobby-width/2;
	margin-top: -$lobby-height/2;
	// other
	color: white;
	background-color: rgba(white, 0.1);
}

#entry-container {
	// inside
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 20% 80%;
	border-radius: 10px;
	padding: 20px;
}

#entry-name {
	grid-column: 1 / 3;
	grid-row: 1;
	margin: auto;
	display: flex;
}

.center {
	text-align: center;
}

.btn{
	box-shadow: none !important;
}

.section {
	color: white;
}